<h2>This is an about page</h2>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, fugiat corrupti! 
    Sapiente veritatis nam aspernatur eos officiis dignissimos accusantium, doloribus odio? 
    Repellendus consequuntur praesentium modi ipsum, fugiat, 
    nisi qui, iste ipsa sequi exercitationem nesciunt consequatur dolore sed aspernatur? 
    In cum libero nesciunt atque corporis laborum adipisci magnam eveniet quasi provident.
</p>

    <button routerLink="/movies">Go Home</button>