<ng-container>
    <div class="container" *ngIf="movie !=null; else louder">


        <div>
            <img [src]="movie.movie_banner" alt="img">
        </div>
    
        <div>
            <h2>{{ movie.title }}</h2>
            <p>{{ movie.original_title }}</p>
            <p>{{ movie.director}}</p>
            <p>{{ movie.description }}</p>
            <p>{{ movie.release_date }}</p>
            <p>{{ movie.rt_score}}%</p>
        </div>
    
    </div>
</ng-container>
<ng-template #louder>
    <app-louder></app-louder>
</ng-template>
